body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 3em 0 3em;
  padding: 0 60px;
  background-color: #edf2f7;
}

.page-title {
  border-bottom: 1px solid black;
}

.card {
  margin: 3em 0 2em;
  padding: 30px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: rgba(88, 159, 124, 0.06);
  width: 60%;
}

.card:hover {
  background-color: rgba(88, 159, 124, 0.1);
}

.buttons {
  margin: 3em 0 2em;
}

button {
  background-color: rgba(88, 159, 124, 0.06);
  border: 0;
  border-radius: 100px;
  padding: 10px;
  font-size: 12px;
}

button:hover {
  background-color: rgba(88, 159, 124, 0.1);
}

.remove-btn {
  margin-left: 1em;
}

.remove-btn:hover {
  background-color: rgba(222, 84, 84, 0.1) !important;
}

.read-btn {
  margin-left: 1em;
}

.remove-btn:hover {
  background-color: rgba(88, 159, 124, 0.1) !important;
}